<template>
    <div>
    <div class="row">
      <div class="col-md-12">
        <vuestic-widget :headerText="'Cadastro Paciente' | translate">
          <form @submit.prevent="addPaciente">
            <div class="row">
              <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="nome" v-model="nome" required/>
                      <label class="control-label" for="simple-input">{{'Nome Paciente'}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="email" v-model="email" required/>
                      <label class="control-label" for="simple-input">{{'Email Paciente'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="cpf"
                      v-model="cpf"
                      type="text"
                      v-mask="'###.###.###-##'"
                      required/>
                      <label class="control-label" for="simple-input">{{'CPF Paciente'}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="telefone_celular"
                      v-model="telefone_celular"
                      type="text"
                      v-mask="'(##)#####-####'"
                      required/>
                      <label class="control-label" for="simple-input">{{'Telefone Celular'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                      id="rg"
                      v-model="rg"
                      type="text"
                      v-mask="'##.###.###-#'"
                      required/>
                      <label class="control-label" for="simple-input">{{'RG'}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="telefone_fixo"
                      v-model="telefone_fixo"
                      type="text"
                      v-mask="'(##)####-####'"
                      required/>
                      <label class="control-label" for="simple-input">{{'Telefone Fixo'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="nome" v-model="estado_civil" required/>
                      <label class="control-label" for="simple-input">{{'Estado Civil'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="cep"
                      v-model="cep"
                      v-mask ="'##.###-###'"
                      @keyup = "buscaCEP"
                      required/>
                      <label class="control-label" for="simple-input">{{'CEP'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="cidade" v-model="cidade"  required/>
                      <label class="control-label" for="simple-input">{{'Cidade'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="data_nascimento"
                      v-model="data_nascimento"
                      v-mask = "'##/##/####'"
                      required/>
                      <label class="control-label" for="simple-input">{{'Data Nascimento'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <vuestic-simple-select
                    :label="'Estado'"
                    v-model="estado"
                    v-bind:options="estadosBR">
                  </vuestic-simple-select>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="rua" v-model="rua" required/>
                      <label class="control-label" for="simple-input">{{'Rua'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
                  <button class="btn btn-primary"
                          type="submit"
                          >Cadastrar</button>

          </form>
        </vuestic-widget>
      </div>
    </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
      data () {
        return {
          nome: '',
          data_nascimento: '',
          telefone_celular: '',
          telefone_fixo: '',
          email: '',
          cidade: '',
          estado: '',
          rua: '',
          cep: '',
          cpf: '',
          rg: '',
          estado_civil: '',
          estadosBR: ['SP', 'PR', 'MG', 'ES', 'SC', 'RS', 'RJ', 'AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'GO', 'MA', 'MT', 'MS', 'PA', 'PB', 'PE', 'PI', 'RN', 'RO', 'RS', 'RR', 'SE', 'TO']
        }
      },
      methods: {
        async buscaCEP (event) {
          let cepDigitado = (event.target.value)
          let count = cepDigitado.length
          if (count === 10) {
            let cepReal = cepDigitado.replace('.', '')
            cepReal = cepReal.replace('-', '')
            const response = await axios.get(`https://api.postmon.com.br/v1/cep/${cepReal}`)
            this.cidade = response.data.cidade
            this.estado = response.data.estado
            this.rua = response.data.logradouro
          }
        },
        addPaciente () {
          let self = this
          let res = this.data_nascimento.split('/')
          let dataNasc = `${res[2]}-${res[1]}-${res[0]}`
          const novoPaciente = {
            nome: this.nome,
            data_nascimento: dataNasc,
            telefone_celular: this.telefone_celular,
            telefone_fixo: this.telefone_fixo,
            email: this.email,
            cidade: this.cidade,
            estado: this.estado,
            rua: this.rua,
            cep: this.cep,
            estado_civil: this.estado_civil,
            cpf: this.cpf,
            rg: this.rg
          }
          console.log(novoPaciente)
          axios.post('http://127.0.0.1/api/pacientes', novoPaciente)
          .then(function (response) {
            if (response.status === 201) {
              alert('Paciente Criado com sucesso')
              self.$router.push('/pacientes')
            }
          })
          .catch(function (error) {
            console.log(error)
          })
        }
      }
    }
</script>

<style scoped>

</style>