<template>
  <div>
    <div>
      <div style="background-color: white">
      <div class="row">
        <div style="margin-left: 10px; margin-top: 10px;  "  class="col-md-4">
          <fieldset>
            <div class="form-group">
              <div class="input-group">
                <input id="simple-input" required v-model="search"/>
                <label class="control-label" for="simple-input">{{'Buscar pelo nome'}}</label><i class="bar"></i>
              </div>
            </div>
          </fieldset>
        </div>
        </div>
      </div>
    </div>
    <table class="table table-striped first-td-padding">
    <thead>
        <tr>
           <td>ID</td>
           <td>Nome</td>
           <td>Email</td>
           <td>Celular</td>
           <td>Cidade</td>
           <td>Acessar Perfil</td>
        </tr>
    </thead>
    <tbody>
        <tr v-for="paciente in filteredList">
            <td> {{ paciente.id }} </td>
            <td> {{ paciente.nome }} </td>
            <td>{{ paciente.email }}</td>
            <td>{{ paciente.telefone_celular }}</td>
            <td>{{ paciente.cidade }}</td>
            <td> <router-link :to="{ name: 'paciente', params: { pacienteID: paciente.id }}" >Acessar Paciente</router-link> </td>

        </tr>
    </tbody>
</table>

  </div>
</template>

<script>
  import axios from 'axios'
  import Vue from 'vue'
  import BadgeColumn from '../tables/BadgeColumn'
  import FieldsDef from 'vuestic-components/vuestic-datatable/data/fields-definition'
  import ItemsPerPageDef from 'vuestic-components/vuestic-datatable/data/items-per-page-definition'

  Vue.component('badge-column', BadgeColumn)

  export default {
    name: 'Table',
    computed: {
      filteredList () {
        return this.pacientes.filter(paciente => {
          return paciente.nome.toLowerCase().includes(this.search.toLowerCase())
        })
      },
      sortedArray () {
        function compare (a, b) {
          if (a.id < b.id) {
            return -1
          }
          if (a.id > b.id) {
            return 1
          }
          return 0
        }
        return this.pacientes.sort(compare)
      }
    },
    data () {
      return {
        search: '',
        pacientes: [],
        apiUrl: 'http://127.0.0.1/api/pacientes',
        apiMode: true,
        tableFields: FieldsDef.tableFields,
        itemsPerPage: ItemsPerPageDef.itemsPerPage,
        sortFunctions: FieldsDef.sortFunctions,
        paginationPath: ''
      }
    },
    async created () {
      try {
        const response = await axios.get(`http://127.0.0.1/api/pacientes`)
        this.pacientes = response.data
        console.log(this.pacientes)
      } catch (e) {
        this.errors.push(e)
      }
    }
  }
</script>

<style lang="scss">

  .color-icon-label-table {
    td:first-child {
      width: 1rem;
    }
  }
</style>
