<template>
    <div>
    <div class="row">
      <div class="col-md-12">
        <vuestic-widget :headerText="`Ficha Paciente `">
          <form>
            <div class="row">
              <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="nome" v-model="nome" required/>
                      <label class="control-label" for="simple-input">{{'Nome Paciente'}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="email"
                      v-model="email"
                      required/>
                      <label class="control-label" for="simple-input">{{'Email Paciente'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="cpf"
                      v-model="cpf"
                      type="text"
                      v-mask="'###.###.###-##'"
                      required/>
                      <label class="control-label" for="simple-input">{{'CPF Paciente'}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="telefone_celular"
                      v-model="telefone_celular"
                      type="text"
                      v-mask="'(##)#####-####'"
                      required/>
                      <label class="control-label" for="simple-input">{{'Telefone Celular'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input
                      id="rg"
                      v-model="rg"
                      type="text"
                      v-mask="'##.###.###-#'"
                      required/>
                      <label class="control-label" for="simple-input">{{'RG'}}</label><i class="bar"></i>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="telefone_fixo"
                      v-model="telefone_fixo"
                      type="text"
                      v-mask="'(##)####-####'"
                      required/>
                      <label class="control-label" for="simple-input">{{'Telefone Fixo'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="estado_civil"
                      v-model="estado_civil"
                      required/>
                      <label class="control-label" for="simple-input">{{'Estado Civil'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="cep"
                      v-model="cep"
                      v-mask ="'##.###-###'"
                      required/>
                      <label class="control-label" for="simple-input">{{'CEP'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="cidade"
                      v-model="cidade"
                      required/>
                      <label class="control-label" for="simple-input">{{'Cidade'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="data_nascimento"
                      v-model="data_nascimento"
                      v-mask = "'##/##/####'"
                      required/>
                      <label class="control-label" for="simple-input">{{'Data Nascimento'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <vuestic-simple-select
                    :label="'Estado'"
                    v-model="estado"
                    v-bind:options="estadosBR">
                  </vuestic-simple-select>
                </fieldset>
              </div>
            <div class="col-md-4">
                <fieldset>
                  <div class="form-group">
                    <div class="input-group">
                      <input id="rua"
                      v-model="rua"
                      required/>
                      <label class="control-label" for="simple-input">{{'Rua'}}</label><i class="bar"></i>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
            <button class="btn btn-primary"
                    @click="atualizarPaciente()">
                    Atualizar
            </button>
          <button class="btn btn-danger" @click="showMediumModal()">
            Excluir
          </button>
          </form>
        </vuestic-widget>
      </div>
    </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      show: true,
      nome: '',
      data_nascimento: '',
      telefone_celular: '',
      telefone_fixo: '',
      email: '',
      estado: '',
      rua: '',
      cep: '',
      cpf: '',
      rg: '',
      estado_civil: '',
      cidade: '',
      estadosBR: ['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RO', 'RS', 'RR', 'SC', 'SE', 'SP', 'TO']
    }
  },
  async beforeCreate () {
    try {
      // console.log(this.$route.params.pacienteID)
      const response = await axios.get(`http://127.0.0.1/api/pacientes/${this.$route.params.pacienteID}`)
      // console.log(response.data)
      this.nome = response.data.nome
      this.cpf = response.data.cpf
      this.rg = response.data.rg
      this.email = response.data.email
      this.telefone_celular = response.data.telefone_celular
      this.telefone_fixo = response.data.telefone_fixo
      this.estado_civil = response.data.estado_civil
      this.cep = response.data.cep
      this.cidade = response.data.cidade
      this.estado = response.data.estado
      this.rua = response.data.rua
      let str = response.data.data_nascimento
      let split = str.split('-')
      let dataNascimento = `${split[2]}/${split[1]}/${split[0]}`
      this.data_nascimento = dataNascimento
    } catch (e) {
      this.errors.push(e)
    }
  },
  methods: {
    showMediumModal () {
      if (confirm('Deseja excluir este paciente?')) {
        axios.delete(`http://127.0.0.1/api/pacientes/${this.$route.params.pacienteID}`)
        this.$router.push('/pacientes')
      } else {
        console.log('aqui')
        this.$router.push(`/pacientes`)
      }
    },
    atualizarPaciente () {
      let res = this.data_nascimento.split('/')
      let dataNasc = `${res[2]}-${res[1]}-${res[0]}`
      // console.log(`CIDADE = ${this.cidade}`)
      const novoPaciente = {
        nome: this.nome,
        data_nascimento: dataNasc,
        telefone_celular: this.telefone_celular,
        telefone_fixo: this.telefone_fixo,
        email: this.email,
        cidade: this.cidade,
        estado: this.estado,
        rua: this.rua,
        cep: this.cep,
        estado_civil: this.estado_civil,
        cpf: this.cpf,
        rg: this.rg
      }
      // console.log(novoPaciente)
      axios.put(`http://127.0.0.1/api/pacientes/${this.$route.params.pacienteID}`, novoPaciente)
      .then(function (response) {
        console.log(response)
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>

<style scoped>

</style>